@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
}

.bloco {
    width: 426px;
    height: 500px;
    border: 1px solid #e0ffff;
    border-radius: 10px;
    margin: 0 50px;
    padding: 2rem 1rem;
    background-color: #fff;
    box-shadow: 10px 10px 0 0 rgb(64 176 220 / 20%);
}

#sexo input:hover {
    background-color: #eaf9ff;
}

.input-group {
    display: flex;
    flex-direction: column;
}


.input-box, .radio-group {
    margin: 0 0 18px;
}
.label {
    display: block;
    width: 80px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: Rubik,Helvetica,Arial,sans-serif;
    color: #404040;
}
.input-box > span {
    width: 80px;
    margin-left: 10px;
}

.input-box input[type=text] {
    width: 60%;
}

.input-box input {
    width: 150px;
    border: 0.5px solid #cdd5db;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 0.8rem 1.2rem;
}

.input-group .calcular {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group .calcular input{
    width: 50%;
    height: 40px;
    background-color: #eaf9ff;
    border: #e0ffff;
    border-radius: 10px;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.hide {
    display: none;
}

.tabela {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.bloco .tabela table th {
    background-color: #eaf9ff;
    text-align: left;
}

.bloco .tabela table tr td {
    font-weight: bold;
    font-size: .9em;
}

.bloco .tabela table td, th {
    border: 0;
    padding: 20px 15px;
    border-bottom: solid 1px #eee;
}


.selected {
    border-top: solid 1px #fc0;
    border-bottom: solid 1px #fc0;
    background-color: rgba(234,194,30,.6);
}

.radio-group > .options {
    display: flex;
}
.radio-box {
    margin-right: 5px;
}
.radio-box > label {
    display: block;
    min-width: 85px;
    padding: 5px 12px;
    border: 1px solid #cdd5db;
    border-radius: 3px;
    line-height: 1.7;
    text-align: center;
    cursor: pointer;
}
.radio-box > input {
    display: none;
}
.radio-box > input:checked ~ label{
    color: #404040;
    transition: color .3s ease;
    background-color: #d7f4ff;
    border: 1px solid #40b0dc;
}